.invisible-nav-bar{
    position: absolute;
    z-index: 9999;

    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;

    padding: 2rem;
}

@media (max-width: 992px) {
    .invisible-nav-bar{
        position: static;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}