
a {
    color: black;
    font-weight: 200;
    text-decoration: underline;
}

a:hover{
    font-weight: 400;
}


h1{
    max-width: fit-content;
}

.slide-title{
    max-width: 80%;
}


.includes-navbar{
    display: flex;
    flex-direction: column;

}


.content {
    display: flex ;
    flex-direction: row;
    align-items: flex-start;
    min-height: 60vh;
    gap: 20px;
}

.slide-nav{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
}


.lead{
    width: 100%;
}

.left{
    max-width: 25vw;
}

.left-without-image{
    max-width: 80vw;
}

.mini-image{
    max-width: 100%;
}





@media (max-width: 992px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: auto;
    }

    .left{
        max-width: 100%;
    }
}
