.toc-link{
    color: black; /* blue colors for links too */
    text-decoration: none; /* no underline */
}



.sphere-title{
    margin-bottom: 1rem;
}

.toc-title{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

.toc-item{
    border-left: 1.5px solid black;
    padding-left: 0.3em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.toc-item:hover{
    text-decoration: underline;
}

.toc-container{
    position: sticky;
    /* bottom: 0px; */
    width: 100%;
    min-width: min-content;
    background-color: rgb(247, 247, 247);
    padding: 2em;
    border-radius: 2em;
}

.toc-visible{
    visibility: visible;
    transition: height 1s ease-in-out;
}

.toc-invisible{
    top: -1000px;
    position: absolute;
    height: 0px;
    visibility: hidden;
    transition: height 1s ease-in-out;
}

@media (max-width: 1150px) {
    .toc-container{
        width: 100%;
        padding: 2rem;
    }
    
}
