.toc-link{
    color: black; /* blue colors for links too */
    text-decoration: none; /* no underline */
}



.sphere-title{
    margin-bottom: 1rem;
}

.toc-title{
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

.toc-item{
    border-left: 1.5px solid black;
    padding-left: 0.3em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.toc-item:hover{
    text-decoration: underline;
}

.toc-container{
    z-index: 99;
    position: sticky;
    top: 0px;
    width: 80%;
    height: fit-content;
    min-width: min-content;
    background-color: rgb(247, 247, 247);
    padding: 2em;
    border-radius: 2em;
}

/* This fires as soon as the element enters the DOM */
.toc-transition-enter{
    opacity: 0;
}
/* This is where we can add the transition*/
.toc-transition-enter-active{
    opacity: 1;
    transition: 0.5s ease-in-out;
}
/* This fires as soon as the this.state.showList is false */
.toc-transition-exit{
    opacity: 1;
}
/* fires as element leaves the DOM*/
.toc-transition-exit-active{
    opacity: 0;
    transition: 0.5s ease-in-out;

}

@media (max-width: 1150px) {
    .toc-container{
        width: 100%;
        margin: 2rem;
    }
    
}
