.centerer{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide-container{
    display: flex;
    flex-direction: column;
    width: auto;
    /* align-items: center; */
   
}

.sphere-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

#toc-window{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0px; 
    left: 0px;
    width: 100%;
}


@media (max-width: 992px) {

    .sphere-content{
        height: min-content;
    }
    
    .centerer{
        position: static;
        top: auto;
        left: auto;
    }

    .toc-container-margin-controller{
        margin-top: 0px !important;
    }
}


